
  <%= javascript_include_tag 'front-ja-manifest', 'data-turbolinks-track': 'reload' %>


    <div id="wrapper">
      <div class="transparent-container">
        <div class="bg"></div>
        <button class="btn-bg-toggle">背景切り替え</button>
        <div class="modal-layer">
          <div class="modal-back"></div>
          <div class="modal-inner"></div>
          <button class="btn-close01"></button>
        </div>
      </div>
    </div>
    <!-- <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/jquery.randomElements.js"></script>
    <script src="./assets/js/fetch-transcripts-ja.js"></script>
    <script src="./assets/js/bundle.js"></script> -->
