
    <script>
    var initial_transcripts = [];
    var additional_transcripts = [];
    var index;

    function fetchTranscripts(initial_transcripts, index){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/api/transcripts/" + <%= @wall_id %>, false);
      xmlHttp.send();
      data = JSON.parse(xmlHttp.response)
      for(var i = 0; i < data.transcripts.length; i++) {
          initial_transcripts.push(data.transcripts[i]);
      }
      index = data.index
      console.log(index)
    }

    fetchTranscripts(initial_transcripts, index);
    // fetchTranscripts(additional_transcripts, index);
    </script>

    <%= javascript_include_tag 'front-manifest', 'data-turbolinks-track': 'reload'  %>

    <div id="wrapper">
      <div class="transparent-container">
        <div class="bg"></div>
        <button class="btn-bg-toggle">Switch</button>
        <div class="modal-layer">
          <div class="modal-back"></div>
          <div class="modal-inner"></div>
          <button class="btn-close01"></button>
        </div>
      </div>
    </div>
    <!-- <script src="./app/assets/javascripts/front/dest/assets/js/jquery.js"></script>
    <script src="./app/assets/javascripts/front/dest/assets/js/jquery.randomElements.js"></script>
    <script src="./app/assets/javascripts/front/dest/assets/js/fetch-transcripts.js"></script>
    <script src="./app/assets/javascripts/front/dest/assets/js/bundle.js"></script> -->
