<!DOCTYPE html>
<html lang="ja" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Transparent</title>
    <meta name="description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
    <meta name="keywords" content="Transparent">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="Transparent">
    <meta property="og:site_name" content="Transparent">
    <meta property="og:description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
    <meta property="og:url" content="https://trnspt.com/">
    <meta property="og:image" content="https://res.cloudinary.com/negic/image/upload/v1520401274/og.png">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="https://res.cloudinary.com/negic/image/upload/v1520401272/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://trnspt.com/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- <link rel="stylesheet" href="./assets/css/app.css"> -->
    <%= stylesheet_link_tag    'front-a-chaos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style rel="stylesheet">
      /* ここからiPad proのサイズ */

      /* 背景画像 */
      #transparent-container .bg {
          background-image: url('https://res.cloudinary.com/dfa9u6mgh/image/upload/v1529440382/bg_kek3bp.jpg');
      }

      /* ここからパソコンサイズ */
      @media only screen and (min-width: 1280px) {

      }
    </style>
  </head>
  <body class="ja">
    <div id="wrapper">
      <button class="btn-menu01 tap">
        <div class="btn-inner"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></div>
      </button>
      <div id="global-menu">
        <div class="inner">
          <div class="setting-btn-area">
            <p class="tit">Media Source</p>
            <div id="on-switch-media" class="btn-toggle02 on-switch-media">
              <div data-type="0" class="media photo is-active">Photo</div>
              <div data-type="1" class="media news">News</div>
              <div data-type="2" class="media movie">Movie</div>
            </div>
          </div>
          <form class="form-keyword">
            <p class="tit">Keyword Filtering</p>
            <input type="text" placeholder="Input Keyword" class="input-keyword">
            <button id="input-submit" class="input-submit btn-style01">Submit</button>
          </form>
          <div class="keyword-list">
          </div>
          <div class="setting-btn-area">
            <p class="tit">Text</p>
            <div class="btn-toggle01 on-txt-hidden">
              <div class="under"><span class="on">On</span><span class="off">Off</span></div>
              <div class="toggle"><span class="on">On</span><span class="off">Off</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="recording-area rec">
        <div class="txt-recording"></div>
        <div id="btn-recording"></div>
      </div>
      <div id="transparent-container">
        <div class="bg"></div>
        <div class="modal-layer">
          <div class="modal-back"></div>
          <div class="modal-inner"></div>
        </div>
      </div>
    </div>
    <script>
      var TRANSCRIPTS = [];

      TRANSCRIPTS.MEDIA_MAX_SIZE = 300*1.4; // ランダム配置される画像の最大サイズ
      TRANSCRIPTS.MEDIA_MIN_SIZE = 150*1.3; // ランダム配置される画像の最小サイズ

    </script>

    <div id="warning">
        <h2 style="display:none">Speech Recognition SDK not found.</h1>
        <h2 style="display:none">Please execute <code>npm run bundle</code> and reload.</h2>
    </div>
    <div id="content" style="display:none">
    </div>

    <!-- <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script> -->
    <%= javascript_include_tag 'front-alpha-chaos', 'data-turbolinks-track': 'reload'  %>
    <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> -->

    <!-- load contents -->
    <script>
      var wallId = <%= @wall_id %>;
      var menuHidden = true;
      var textHidden = false;
      var commentHidden = false;
      var dimensionValue1;
      var dimensionValue2;
      var dimensionValue3;
      var dimensionValue4;
      var dimensionValue5;

    </script>

    <!-- handle recording -->
    <script>
        var recBtn = document.getElementById("btn-recording");
        var uiVersion = 'alpha';
        languageCode = '<%= @language_code %>';
    </script>

  </body>
</html>
