  <head>
    <meta charset="utf-8">
    <title>Transparent</title>
    <meta name="description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
    <meta name="keywords" content="Transparent">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="Transparent">
    <meta property="og:site_name" content="Transparent">
    <meta property="og:description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
    <meta property="og:url" content="http://trnspt.com/">
    <meta property="og:image" content="http://res.cloudinary.com/negic/image/upload/v1520401274/og.png">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="http://res.cloudinary.com/negic/image/upload/v1520401272/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="http://trnspt.com/">
    <!-- <link rel="stylesheet" href="./assets/css/app.css"> -->
    <%= stylesheet_link_tag    'web', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-top">
    <div id="wrapper">
      <div class="main-image">
        <div class="inner">
          <p class="txt01">See Through Communication</p>
          <h1 class="logo01">transparent</h1>
          <p class="link01"><a href="http://trnspt.com/" target="_blank">Say It &amp; See It</a></p>
        </div>
      </div>
      <section class="top-section">
        <div class="logo02"></div>
        <div class="inner">
          <p class="tit">Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.</p>
          <p class="txt">It’s as simple as having a conversation with a friend. As Transparent listens, it brings up articles, videos, pictures and anything else that you might be wondering about on the topic. This provides crucial context to a conversation that goes beyond mere text; it connects people on a deeper level.</p>
          <div class="instagram-photos"></div>
        </div>
      </section>
      <ul class="sns-list">
        <li class="list-item"><a href="https://twitter.com/Transparent_Web" target="_blank" class="ico-twitter01">twitter</a></li>
        <li class="list-item"><a href="https://www.facebook.com/TransparentWeb/" target="_blank" class="ico-facebook01">facebook</a></li>
        <li class="list-item"><a href="https://www.instagram.com/transparent_web/" target="_blank" class="ico-instagram01">instagram</a></li>
      </ul>
      <footer class="global-footer">
        <div class="inner">
          <p class="tit">Contact</p>
          <div class="txt-mailto">transparent@d0kid0ki.com</div>
        </div>
        <p class="txt-copyright">&copy; DOKI DOKI, Inc.</p>
      </footer>
      <div class="modal-layer">
        <div class="modal-back"></div>
        <div class="modal-inner"></div>
        <button class="btn-close01"></button>
      </div>
    </div>
    <!-- <script src="./assets/js/bundle.js"></script> -->
    <%= javascript_include_tag 'web-manifest', 'data-turbolinks-track': 'reload'  %>
  </body>
