script.
    var TRANSCRIPTS = [];
    //- TRANSCRIPTS.WALL_ID = 1;
    //- TRANSCRIPTS.API_URI = "/api/transcripts/" + TRANSCRIPTS.WALL_ID;
    TRANSCRIPTS.API_URI = '/assets/js/initial_transcripts.json';

    var searches = [
      {
        "id" : 20,
        "transcript_id" : 200,
        "words" : [ 'transparent', 'world'],
        "is_visible" : true,
        "mode" : 'Image'
      },
      {
        "id" : 21,
        "transcript_id" : 201,
        "words" : [ 'world', 'camera'],
        "is_visible" : true,
        "mode" : 'Image'
      }
    ];

    var searches0 = [];

    var related_contents = [
        {
            "id": 100,
            "search_id": 20,
            "title": "sample 1",
            "desc": "You Tube - Smasher - ",
            "url": "https://www.youtube.com/watch?v=22cdBDK-8hk",
            "img_url": "http://www.designbolts.com/wp-content/uploads/2013/09/40-Free-Transparent-Social-Media-Icons-01.jpg",
            "content_type": "image",
            "source": "www.youtube.com",
            "is_visible": true,
            "created_at": "2018-02-28T05:20:27.091Z",
            "updated_at": "2018-02-28T05:20:27.091Z",
            "awesome": 0,
            "condition":{"service": "MS Bing Image Search API", "word": "transparent world"}
        },
        {
            "id": 101,
            "search_id": 20,
            "title": "sample 2",
            "desc": "You Tube - Smasher - ",
            "url": "https://www.youtube.com/watch?v=22cdBDK-8hk",
            "img_url": "http://www.pgwebs.com/wp-content/uploads/2014/12/Social-Media-Solutions-for-Your-Troubles.png",
            "content_type": "image",
            "source": "www.youtube.com",
            "is_visible": true,
            "created_at": "2018-02-28T05:20:27.091Z",
            "updated_at": "2018-02-28T05:20:27.091Z",
            "awesome": 0,
            "condition":{"service": "MS Bing Image Search API", "word": "transparent world"}
        },
        {
            "id": 102,
            "search_id": 20,
            "title": "sample 3",
            "desc": "You Tube - Smasher - ",
            "url": "https://www.youtube.com/watch?v=22cdBDK-8hk",
            "img_url": "https://coziest.net/wp-content/uploads/2013/12/sc.jpg",
            "content_type": "image",
            "source": "www.youtube.com",
            "is_visible": true,
            "created_at": "2018-02-28T05:20:27.091Z",
            "updated_at": "2018-02-28T05:20:27.091Z",
            "awesome": 0,
            "condition":{"service": "MS Bing Image Search API", "word": "world camera"}
        },
        {
            "id": 103,
            "search_id": 2375,
            "title": "sample 4",
            "desc": "You Tube - Smasher - ",
            "url": "https://www.youtube.com/watch?v=22cdBDK-8hk",
            "img_url": "http://image.itmedia.co.jp/bizid/articles/0909/30/st_photo1.jpg",
            "content_type": "image",
            "source": "www.youtube.com",
            "is_visible": true,
            "created_at": "2018-02-28T05:20:27.091Z",
            "updated_at": "2018-02-28T05:20:27.091Z",
            "awesome": 0,
            "condition":{"service": "MS Bing Image Search API", "word": "world camera"}
        }
    ];




script(src='#{path}/assets/js/jquery.js')
script(src='#{path}/assets/js/masonry.pkgd.min.js')
script(src='#{path}/assets/js/bundle.js')

script.

    document.getElementById('logo').addEventListener('click', function() {
        TRANSCRIPTS.prependContents({ searches, related_contents });
    }, false);

    document.getElementById('btn-recording').addEventListener('click', function() {

        // テキストの設定
        TRANSCRIPTS.setRecordingText('text text text text');

        // レコーディングボタンのON/OFF
        TRANSCRIPTS.toggleRecordhing();

        // レコーディング中かの取得
        console.log(TRANSCRIPTS.getRecordingStatus());
    }, false);

    document.getElementById('input-submit').addEventListener('click', function() {
        setTimeout(function() {

            // 検索キーワードの取得
            console.log(TRANSCRIPTS.getKeywords());
        }, 100);
    }, false);

    document.getElementById('on-switch-media').addEventListener('click', function() {
        setTimeout(function() {

            // メディアのタイプの取得
            console.log(TRANSCRIPTS.getMediaType());
        }, 100);
    }, false);

    document.getElementById('on-switch-media').addEventListener('click', function() {
        setTimeout(function() {

            // メディアのタイプの取得
            console.log(TRANSCRIPTS.getMediaType());
        }, 100);
    }, false);

    $('#wrapper').on('click', '#transparent-container .btn-close02', function(event) {
        setTimeout(function() {

            // メディアのタイプの取得
            console.log("searchId: ", $(event.currentTarget).closest('.grid-item').attr('data-searchId'));
            console.log("relatedContentId: ", $(event.currentTarget).closest('.grid-item').attr('data-relatedContentId'));
        }, 100);
    });

    window.addEventListener('scroll', function() {

        // スクロールが下部に来たらtrueを返します
        console.log(TRANSCRIPTS.getScrollBottomPosition());

        if (TRANSCRIPTS.getScrollBottomPosition()) {
            TRANSCRIPTS.appendContents({ searches, related_contents });
        }
    }, false);

    document.getElementById('btn-recording').addEventListener('click', function() {
        TRANSCRIPTS.addContents(related_contents);
    }, false);
