<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/sns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
	<meta http-equiv="imagetoolbar" content="no">

	<title>Transparent</title>

	<meta name="keywords" content="Transparent">
	<meta name="description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
	<!-- SNS Share -->
	<meta property="og:title" content="Transparent">
	<meta property="og:url" content="https://trnspt.com/">
	<meta property="og:description" content="Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/ogp.png">
    <meta name="twitter:card" content="summary_large_image">
	<!-- /SNS Share -->
	<link rel="shortcut icon" href="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- <link rel="stylesheet" type="text/css" href="assets/css/base.css" media="all">
	<script type="text/javascript" src="assets/js/modernizr.min.js"></script> -->
	<%= stylesheet_link_tag    'pr-alpha', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'pr-alpha-manifest', 'data-turbolinks-track': 'reload'  %>
</head>
<body id="top" class="jp">
	<div id="wrapper">
		<div id="content" ontouchstart="">
			<noscript>
				<dl id="browserMsg">
					<dt>JavaScriptの設定を有効にしてください。</dt>
					<dd>お使いのブラウザはJavaScriptをサポートしていないか、JavaScriptの設定が無効になっています。<br>
					このサイトでは、JavaScriptを使用しています。すべての機能をご利用希望の方は、JavaScriptを有効にしてください。</dd>
				</dl>
			</noscript>
			<section id="intro">
				<h1 class="MV">
					<picture>
						<source media="(max-width:600px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/mv_m.jpg">
						<source media="(min-width:601px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/mv.jpg">
						<img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/mv.jpg" alt="Transparent">
					</picture>
				</h1>
				<ul class="lang">
					<li><a href="/">EN</a></li>
					<li><a class="active" href="/?lang=jp">JP</a></li>
				</ul>
				<div class="textIntro jsMainText">
					<h1 class="text1 textEn">See? Now you do.</h1>
					<p class="text2">ほら、会話が見えてきた。</p>
					<p class="text3">言葉だけでは伝わらないという<br class="cPC">誰もが経験する当たり前が、ようやく終わりを迎えます。<br class="cPC">テクノロジーによって会話が見える時代の到来です。</p>
					<p class="btn1 cSP"><a class="jsTouchEffect" href="https://docs.google.com/forms/d/e/1FAIpQLSeUs2VGtqQkME7VoPTSR_GadavRHmdtooojoFD0fRQF_eNs5Q/viewform" target="_blank">CONTACT US</a></p>
				</div>
				<p class="btn1 cPC"><a class="jsTouchEffect" href="https://docs.google.com/forms/d/e/1FAIpQLSeUs2VGtqQkME7VoPTSR_GadavRHmdtooojoFD0fRQF_eNs5Q/viewform" target="_blank">CONTACT US</a></p>
			</section>

			<section id="concept" class="jsScene cSection">
				<div class="cSectionInner">
					<h2 class="tagline textEn">Communication Visualization</h2>
					<div class="cTextArea">
						<p>Transparentは、最新のASR (Automatic Speech Recognition: 自動音声認識) とNLP (Natural Language Processing: 自然言語処理) を用いた会話促進テクノロジーです。<br>
						<br>
						話される言葉がインターネットにつながり、関連する情報がリアルタイムに可視化されることで、言葉以上の情報を伝えることを実現します。</p>
					</div>
					<figure class="chart1">
						<picture>
							<source media="(max-width:750px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/chart1_m.png">
							<source media="(min-width:751px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/chart1.png">
							<img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/chart1.png" alt="">
						</picture>
					</figure>
				</div>
			</section>

			<section id="vision" class="jsScene cSection">
				<div class="cSectionInner">
					<h2 class="cTitle">
						<picture>
							<source media="(max-width:750px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_vision_m.png">
							<source media="(min-width:751px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_vision.png">
							<img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_vision.png" alt="VISION ビジョン">
						</picture>
					</h2>
					<h3 class="cCatch">伝わる世界って、こんなにも気持ちいい。</h3>
					<div class="cTextArea">
						<p>普段の生活で私たちは知らず知らずのうちに「伝わらないこと」に慣れてしまっているのですが、<br class="cPC">実は伝わるって、めちゃくちゃ気持ちいいのです。<br>
						Transparentはそんな「伝わる世界」をテクノロジーで追求しております。</p>
					</div>
				</div>
			</section>

			<section id="media" class="jsScene cSection">
				<div class="cSectionInner">
					<h2 class="cTitle">
						<picture>
							<source media="(max-width:750px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_media_m.png">
							<source media="(min-width:751px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_media.png">
							<img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_media.png" alt="MEDIA メディア">
						</picture>
					</h2>
					<ul class="banners">
						<li><a class="jsTouchEffect" href="http://thebridge.jp/2018/03/sxsw-2018-interactive-trade-show-day1-snapshots" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/logo_bridge.png" width="240" height="90" alt="the bridge"></a></li>
						<li><a class="jsTouchEffect" href="https://www.pronews.jp/special/20180316151632.html" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/logo_pronews.png" width="240" height="90" alt="pronews"></a></li>
						<li><a class="jsTouchEffect" href="http://trendy.nikkeibp.co.jp/atcl/pickup/15/1003590/032001625/" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/logo_trendy.png" width="240" height="90" alt="NIKKEI TRENDY"></a></li>
					</ul>
				</div>
			</section>

			<section id="partner" class="jsScene cSection">
				<div class="cSectionInner">
					<h2 class="cTitle">
						<picture>
							<source media="(max-width:750px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_partner_m.png">
							<source media="(min-width:751px)" srcset="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_partner.png">
							<img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769799/jp/title_partner.png" alt="PARTNER WANTED パートナー募集">
						</picture>
					</h2>
					<div class="cTextArea">
						<p>私たちのビジョンに共感し、一緒に伝わるテクノロジーを発展させていくための仲間を探しております。<br>
						空間、ハードウェア、ソフトウェア、ビジネスなど、あらゆる角度からのパートナーを募集します。</p>
						<p class="btn1"><a class="jsTouchEffect" href="https://docs.google.com/forms/d/e/1FAIpQLSeUs2VGtqQkME7VoPTSR_GadavRHmdtooojoFD0fRQF_eNs5Q/viewform" target="_blank">CONTACT US</a></p>
					</div>
				</div>
			</section>

		</div>
		<!-- //#content -->
		<footer id="footer" class="jsScene">
			<dl class="sns">
				<dt class="textEn">Find us on social media</dt>
				<dd><a class="md" href="https://medium.com/@iguchijp" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/ico_md.png" width="80" height="80" alt="Medium"></a></dd>
				<dd><a class="tw" href="https://twitter.com/Transparent_Web" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/ico_tw.png" width="80" height="80" alt="Twitter"></a></dd>
				<dd><a class="fb" href="https://www.facebook.com/TransparentWeb/" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/ico_fb.png" width="80" height="80" alt="Facebook"></a></dd>
				<dd><a class="insta" href="https://www.instagram.com/transparent_web/" target="_blank"><img src="https://res.cloudinary.com/dvztbxjyp/image/upload/v1528769428/ico_in.png" width="80" height="80" alt="Instagram"></a></dd>
			</dl>
			<p id="copyright">&copy;2018 Dokidoki, Inc. All Rights Reserved.</p>
		</footer>
		<!-- //#footer -->
	</div>
	<!-- //#wrapper -->

	<!-- <script type="text/javascript" src="assets/js/mods.js"></script> -->
</body>
</html>
