.ico-twitter01,
.ico-twitter02,
.ico-facebook01,
.ico-facebook02 {
  background-repeat: no-repeat;
  background-size: 21px 21px;
  width: 21px;
  height: 21px;
  display: block;
  @include textHidden();

  @media #{$mq_medium} {
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
  }
}

.ico-twitter01 { background-image: url(../img/common/ico_twitter01.png); }
.ico-twitter02 { background-image: url(../img/common/ico_twitter02.png); }
.ico-facebook01 { background-image: url(../img/common/ico_facebook01.png); }
.ico-facebook02 { background-image: url(../img/common/ico_facebook02.png); }

.ico01, .ico02, .ico03, .ico04 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: block;
    /*@include textHidden();*/

    &.lg {
        width: 77px;
        height: 77px;
        border-radius: 39px;
        position: relative;

        span {
            display: block;
            position: absolute;
            top: 80px;
            text-align: center;
            width: 100%;
            font-size: 9px;
        }
    }
}

.ico01 { background-image: url(../img/common/ico01.png); }
.ico02 { background-image: url(../img/common/ico02.png); }
.ico03 { background-image: url(../img/common/ico03.png); }
.ico04 { background-image: url(../img/common/ico04.png); }
