.btn-style01 {
    display: block;

    background-image: url('http://res.cloudinary.com/negic/image/upload/v1519298779/ico_blank01.png');
    background-repeat: no-repeat;
    background-size: #{34 / $retina}px auto;
    background-position: 10% 50%;
    background-color: #ea5350;

    width: #{400 / $retina}px;

    padding: #{23 / $retina}px 0;
    border-radius: 70px;

    color: #fff;
    font-size: 28px;
    line-height: 1;
    text-align: center;

    @media #{$mq_large} {
        width: 200px;
        padding: 12px;
        font-size: 14px;
    }
}

.btn-close01 {
    background-image: url('http://res.cloudinary.com/negic/image/upload/v1519298641/btn_close01.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: #{58 / $retina}px;
    height: #{58 / $retina}px;
    background-size: #{58 / $retina}px auto;
    display: block;
    color: transparent;

    @media #{$mq_large} {
        width: 29px;
        height: 29px;
        background-size: 29px auto;
    }
}
