<!DOCTYPE html>
<html xml:lang="ja" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Information of Transparent</title>
    <meta name="keywords" content="Transparent,dokidoki" />
	<meta name="description" content="Introducing Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation." />
    <meta name="viewport" content="width=1024, maximum-scale=1, user-scalable=0;" />
    <meta name="format-detection" content="telephone=no" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Transparent" />
    <meta property="og:site_name" content="Introducing Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation." />
    <meta property="og:description" content="Introducing Transparent, the first audio recognition tool that serves a stream of content that follows your verbal conversation." />
    <meta property="og:url" content="https://trnspt.com/media/" />
    <meta property="og:image" content="https://trnspt.com/media/" />

    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">

    <!-- <link id="css" rel="stylesheet" href="material/css/reset.css" />
    <link id="css" rel="stylesheet" href="material/css/style.css" /> -->
    <%= stylesheet_link_tag    'media', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div id="container">
<h1>Say It &amp; See It</h1>
<h2>Information of Transparent</h2>
<p id="cap">Feel free to use our information</p>

<h3>## Press Release</h3>
<p><a href="https://drive.google.com/file/d/1liUcfFjKjzKWhCVx9g5zZW5NqnKTaUPD/view?usp=sharing" target="_blank">- Transparent First Press Release EN (pdf)</a></p>
<p><a href="https://drive.google.com/file/d/1rnFhc1qVGryC1AUjqSDl3tjFmrVSJ3-s/view?usp=sharing" target="_blank">- Transparent First Press Release JP (pdf)</a></p>

<h3>## Official Web Site</h3>
<p><a href="https://trnspt.com/" target="_blank">- Transparent official web site</a></p>

<h3>## Logo Data</h3>
<p><a href="https://drive.google.com/drive/folders/1IrdnJhNF1oXHZIh-SU3rkYpuVzWoDYiW" target="_blank">- Transparent Logo Date</a></p>

<h3>## Images</h3>
<p><a href="https://drive.google.com/drive/folders/1pzkZTFdVEcRyprZ97Js0rwm2I7cyPid_" target="_blank">- Transparent Images</a></p>


</div>
</body>
</html>
