
extends ./_include/_layout

block variable
    - var page = [ 'top' ];
    - var path = '.';


block content

    div.transparent-container
        div.bg

        //- div.post
        //-     div.comment
        //-         div.comment-user-icon.style01
        //-         p.comment-text Gareth Edwards’ presentation was just amazing…!
        //-     div.media-container

        div.modal-layer
            .modal-back
            .modal-inner

            button.btn-close01
