//-

script.
    var transcripts_add;

    var MEDIA_MAX_SIZE = 350; // ランダム配置される画像の最大サイズ
    var MEDIA_MIN_SIZE = MEDIA_MAX_SIZE / 3; // ランダム配置される画像の最小サイズ


script(src='#{path}/assets/js/jquery.js')
script(src='#{path}/assets/js/jquery.randomElements.js')
script(src='#{path}/assets/js/sample-data.js')
script(src='#{path}/assets/js/bundle.js')

script.
    document.getElementById('add').addEventListener('click', function() {
        transcripts_add(initial_transcripts);
    }, false);
