
extends ./_include/_layout

block variable
    - var page = [ 'top' ];
    - var path = '.';


block content

    button.btn-menu01.tap
        div.btn-inner
            span.line.line-1
            span.line.line-2
            span.line.line-3

    div#global-menu
        .inner

            div.setting-btn-area
                p.tit Media Source
                div.btn-toggle02.on-switch-media#on-switch-media
                    div(data-type="0").media.photo.is-active Photo
                    div(data-type="1").media.news News
                    div(data-type="2").media.movie Movie

            form.form-keyword
                p.tit Keyword Filtering
                input.input-keyword(type="text" placeholder="Input Keyword")
                button.input-submit.btn-style01#input-submit Submit

            div.keyword-list
                //- div.list-item Keyword 01
                //- div.list-item Long Keyword 02
                //- div.list-item Short

            div.setting-btn-area
                p.tit Text
                div.btn-toggle01.on-txt-hidden
                    div.under
                        span.on On
                        span.off Off
                    div.toggle
                        span.on On
                        span.off Off

    div.recording-area.rec
        div.txt-recording Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        div#btn-recording

    div#transparent-container
        div.bg

        //- button.btn-bg-toggle Switch
        //- button.btn-add#add Add

        div.modal-layer
            .modal-back
            .modal-inner
